body
{
    background-color: Aqua;
}

#head1
{
    font-family: Courier New;
}

#head-separator
{
    width: 100%;
    height: 10%;
    background-color: Blue;
}


.head-name
{
    font-size:27px;
    font-family:Britannic Bold;
    text-align:center;
  
}

